@keyframes touch {
    100% {}
}

.校慶 *{
    display:flex;
    width:auto;
    justify-content: center;
    color: aliceblue;
}

.gamelist [src]:hover{
    transform: scale(1.1);
    transition:0.5s;
}

.gamelist [src]:active{
    transform: scale(0.8);
    transition:0.2s;
}

.gamelist{
    display:flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-content: center;
    text-align:center;
    color: aliceblue;
    position: relative;
}

body{
    background-image:url(http://castle.womany.net/images/articles/21882/womany_wen_zhang_1200x630_cover_photo__te_se_tu_mo_ban_2019_11_12T135105_978_1573538026-26860-0055-4115.png);
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    background-attachment:fixed;
}

[href^="https"],[href^=".."],.gamelist p{
    background-color: rgb(40, 154, 40);
    text-decoration:none;
    padding:5px;
    border-radius:10px;
    color: aliceblue;
    display: flex;
    text-align:center;
    justify-content: center;
}
[href^="https"]:hover,[href^=".."]:hover{
    background-color: green;
}

.back{
    display:flex;
    justify-content:center;
}


